---
layout: base.njk
title: About
description: About this blog
permalink: /about/
---

<section class="about">
  <h1>About</h1>
  <div class="about-content">
    <p>欢迎来到我的个人博客，我是一名体系结构领域的在读博士生！</p>
    <p>这个博客记录我对体系结构领域一些技术的思考。</p>
    <h2>联系</h2>
    <p>您可以通过 <a href="https://github.com/MrTang-Yuhan?tab=repositories" target="_blank" rel="noopener">GitHub</a> 查看我的个人仓库。</p>
  </div>
</section>
