---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---
[
  {% set isFirst = true %}
  {% for post in collections.searchablePosts | reverse %}
    {% if post.data.layout == "post.njk" %}
    {% if not isFirst %},{% endif %}
    {
      "title": {{ post.data.title | dump | safe }},
      "url": {{ post.url | dump | safe }},
      "date": {{ post.date | formatDate | dump | safe }},
      "tags": {{ post.data.tags | dump | safe }},
      "content": {{ post.templateContent | dump | safe }},
      "excerpt": {{ (post.data.description or "") | dump | safe }}
    }
    {% set isFirst = false %}
    {% endif %}
  {% endfor %}
]
